body {
    background-color: rgb(223, 224, 225);
    font-size: 14px;
    color: rgb(0,0,0);
}

.container {
    background-color: rgb(254,255,255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* HEADER */
.header img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 75px;
}


/* MENU */

.menu,
.menu .navbar {
    background-color: rgb(53,54,55) !important;
}

.menu .navbar {
    padding: 0px !important;
}

.nav-link {
    color: rgb(255,255,255) !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    height: 40px;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

.navbar-toggler {
    color: rgb(255,255,255) !important;
    font-size: 1em;
    margin: 10px;
}

.nav-item:hover {
    background-color: rgb(169,9,15);
}

.menu-red {
    height: 20px;
    background-color: rgb(169,9,15);
    margin-bottom: 20px;
}


/* CONTENT 1 */
.content1 {
    margin-bottom: 40px;
}

.product-image {
    width: 100%;
    display:block;
    margin:auto;
}

.product-name {
    color: rgb(19,77,115);
    font-size: 1.5em;
}

.product-id {
    font-size: 0.7em;
    margin-bottom: 10px;
}

.product-price {
    color: rgb(169,9,15);
    font-weight: 600;
    margin-bottom: 10px;

}

.product-stock {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 10px;

}

.product-cart {
    border: 1px solid rgb(222,224,226);
    background-color: rgb(243,244,245);
    padding: 10px 20px;
    margin-bottom: 10px;

}

.cart-quantity input {
    width: 3em;
}

.cart-quantity {
    padding-top: 5px;
}

/* CONTENT 2 */
.content2 {
    margin-bottom: 40px;
}

.description-title {
    padding: 8px 0px;
}
.description-title span {
    color: rgb(255,255,255);
    background-color: rgb(169,9,15);
    padding: 10px 40px;
}

.description-text {
    padding: 20px 30px;
    background-color: rgb(240,241,243);
    font-size: 0.9em;
}

.description-text ul {
    list-style-image: url('../images/i2.gif');
}

/* RELATED */
.related {
    margin-bottom: 40px;
}

.related-title {
    border-bottom: 1px solid rgb(226,162,159)
}

.related-title span {
    color: rgb(169,9,15);
    font-size: 1.2em;
    font-weight: 600;
}

.related-items {
    border-top: 1px solid rgb(194,70,71);
    padding-top: 10px;
}

.related-items img {
    height: 150px;
    display:block;
    margin:auto;
}

.item-link {
    text-align: center;
    font-size: 0.8em;
}


/* FOOTER */
.footer {
    background-color: rgb(53,54,55);
    color: rgb(163,164,165);
    padding: 15px 40px;
    font-size: 0.6em;
}
